<table>


<thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>UserID</th>
    </tr>


</thead>


<tbody>

    <tr *ngFor="let post of posts">

        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td>{{post.userId}}</td>

        <button (click)="editPost(post)">O'zgartish</button>
        <button (click)="deletPost(1)">O'chirish</button>



    </tr>



    <tr>

        <td><input type="text" [(ngModel)]="newPost.id"></td>
        <td><input type="text" [(ngModel)]="newPost.title"></td>
        <td><input type="text" [(ngModel)]="newPost.body"></td>
        <td><input type="text" [(ngModel)]="newPost.userId"></td>
        <button (click)="addNewPost()">Ma'lumot qo'shish</button>


    </tr>



</tbody>


</table>


<br><br><br>

<!-- <button (click)="createPost()">Yangi element</button> -->